Restaurant/test/test.json
{
  "name": "Reservation-copy",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg1",
              "name": "nombreRestaurante",
              "type": "string",
              "value": "tacomiendo"
            },
            {
              "id": "cfg2",
              "name": "telefonoPedidos",
              "type": "string",
              "value": "+51-987654321"
            },
            {
              "id": "cfg3",
              "name": "descripcion",
              "type": "string",
              "value": "Taquería y antojos — pedidos y reservas disponibles."
            },
            {
              "id": "cfg6",
              "name": "plantillaWhatsapp",
              "type": "string",
              "value": "plantilla_reserva_v1"
            },
            {
              "id": "cfg9",
              "name": "zonaHoraria",
              "type": "string",
              "value": "America/Lima"
            }
          ]
        },
        "options": {}
      },
      "id": "17ca54e5-1baa-4c3d-b615-51a1a3e0eb8c",
      "name": "Configuración - Global",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        592
      ]
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "79464fba-81ac-4205-8d1d-c40d257b6c83",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1296,
        288
      ],
      "webhookId": "b683d199-d836-4837-b0f3-4501a158747f",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "yrZgHUs4XTfTRn5A",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "location"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Ubicación"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "interactive"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Interacción"
            }
          ]
        },
        "options": {}
      },
      "id": "b45f9064-65ed-415a-a135-b97654e52908",
      "name": "Switch - Tipo de mensaje",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1088,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sc1",
              "name": "telefono",
              "type": "string",
              "value": "={{ $json.messages[0].from }}"
            },
            {
              "id": "sc2",
              "name": "nombre",
              "type": "string",
              "value": "={{ $json.contacts && $json.contacts[0] && $json.contacts[0].profile && $json.contacts[0].profile.name ? $json.contacts[0].profile.name : ($json.messages[0].text && $json.messages[0].text.body ? $json.messages[0].text.body : '') }}"
            },
            {
              "id": "sc3",
              "name": "primerMensaje",
              "type": "string",
              "value": "={{ $json.messages[0].text && $json.messages[0].text.body ? $json.messages[0].text.body : '' }}"
            },
            {
              "id": "sc4",
              "name": "metadata",
              "type": "json",
              "value": "={{ $json }}"
            },
            {
              "id": "sc5",
              "name": "telefonoPedidos",
              "type": "string",
              "value": "+51-987654321"
            },
            {
              "id": "sc6",
              "name": "phoneNumberId",
              "type": "string",
              "value": "={{ $json.metadata && $json.metadata.phone_number_id ? $json.metadata.phone_number_id : '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e14dae28-2d2c-43bc-9825-5d4d3143d4e7",
      "name": "Set - Datos Cliente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO clientes (telefono, nombre, primer_mensaje, metadatos)\nVALUES ($1, $2, $3, $4::jsonb)\nON CONFLICT (telefono) DO NOTHING\nRETURNING id;",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ [ $json.telefono, $json.nombre, $json.primerMensaje, $json.metadata ] }}"
        }
      },
      "id": "402f2d56-a1e4-41d7-b842-e36167a92771",
      "name": "DB - Upsert Cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "position": [
        -512,
        80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EuEbLjm0Yx9snHhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "6a1e8be9-c5b4-4d78-9b75-9c7c8d45b3a1",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "greater"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "93b589e6-7a81-4807-9069-c32fe86d77a4",
      "name": "If - Primer Mensaje?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sal1",
              "name": "telefono",
              "type": "string",
              "value": "={{ $node[\"Set - Datos Cliente\"].json.telefono }}"
            },
            {
              "id": "sal2",
              "name": "mensaje",
              "type": "string",
              "value": "={{ $node[\"Set - Datos Cliente\"].json.nombre ? '🌮 ¡Hola ' + $node[\"Set - Datos Cliente\"].json.nombre + '! Bienvenid@ a Tacomiendo\\n\\nSomos una taquería que prepara tacos al momento, con tortillas recién hechas y salsas caseras bien taqueras 🌶️\\nUsa los botones de abajo para navegar!' : '🌮 ¡Hola! Bienvenid@ a Tacomiendo\\n\\nSomos una taquería que prepara tacos al momento, con tortillas recién hechas y salsas caseras bien taqueras 🌶️\\nUsa los botones de abajo para navegar!' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "278f0a6a-5f9a-433f-8bc1-8c8f314c249b",
      "name": "Set - Saludo Primera Vez",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sal3",
              "name": "telefono",
              "type": "string",
              "value": "={{ $node[\"Set - Datos Cliente\"].json.telefono }}"
            },
            {
              "id": "sal4",
              "name": "mensaje",
              "type": "string",
              "value": "={{ '🌮 ¡Hola de nuevo! Soy Tacomiendo 😄\\n¿Qué te gustaría hacer hoy?' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cbf8d71b-5af1-47a1-a74b-fd57e34e8458",
      "name": "Set - Saludo Recurrente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v21.0/' + $node[\"Set - Datos Cliente\"].json.phoneNumberId + '/messages' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  messaging_product: 'whatsapp',\n  recipient_type: 'individual',\n  to: $json.telefono,\n  type: 'interactive',\n  interactive: {\n    type: 'button',\n    body: {\n      text: $json.mensaje\n    },\n    action: {\n      buttons: [\n        {\n          type: 'reply',\n          reply: { id: 'VER_CARTA', title: '📖 Ver carta' }\n        },\n        {\n          type: 'reply',\n          reply: { id: 'HACER_PEDIDO', title: '🛵 Hacer pedido' }\n        }\n      ]\n    }\n  }\n}) }}",
        "options": {}
      },
      "id": "aac5b66d-1dd4-4d78-a054-319c745626f3",
      "name": "HTTP - Enviar Mensaje Interactivo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        80
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "Ur6ZELwtVtxItVPE",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v21.0/' + $json.phoneNumberId + '/messages' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  messaging_product: 'whatsapp',\n  recipient_type: 'individual',\n  to: $json.telefono,\n  type: 'text',\n  text: {\n    body: $json.mensaje,\n    preview_url: true\n  }\n}) }}",
        "options": {}
      },
      "id": "4c91a865-672b-4865-b52f-3f5e27698b7d",
      "name": "HTTP - Enviar Carta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        464
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "Ur6ZELwtVtxItVPE",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "scarta4",
              "name": "telefono",
              "type": "string",
              "value": "={{ $json.telefono }}"
            },
            {
              "id": "scarta5",
              "name": "phoneNumberId",
              "type": "string",
              "value": "={{ $json.phoneNumberId }}"
            },
            {
              "id": "scarta6",
              "name": "mensaje",
              "type": "string",
              "value": "={{ 'Aquí tienes nuestra carta completa: https://wa.me/p/29826327967012417/51921127939' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "567ea4aa-51f0-4ea8-b9cd-744328fe286a",
      "name": "Set - Mensaje Carta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d3a6f6f6-7b0a-4b0c-9f8f-31b263a85a4f",
              "leftValue": "={{ $json.botonSeleccionado }}",
              "rightValue": "VER_CARTA",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bb7206d2-9f55-43b5-b9ba-879ebf9d0e87",
      "name": "If - Botón Carta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -608,
        464
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "scarta1",
              "name": "telefono",
              "type": "string",
              "value": "={{ $json.messages[0].from }}"
            },
            {
              "id": "scarta2",
              "name": "phoneNumberId",
              "type": "string",
              "value": "={{ $json.metadata && $json.metadata.phone_number_id ? $json.metadata.phone_number_id : '' }}"
            },
            {
              "id": "scarta3",
              "name": "botonSeleccionado",
              "type": "string",
              "value": "={{ $json.messages[0].interactive && $json.messages[0].interactive.button_reply && $json.messages[0].interactive.button_reply.id ? $json.messages[0].interactive.button_reply.id : '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d995a05a-8d5a-4ece-8f81-7637c0238b6f",
      "name": "Set - Datos Carta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        464
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -96,
        592
      ],
      "id": "70b5bd65-c182-4b27-b735-d14fc0a05f71",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -176,
        832
      ],
      "id": "55d06b43-182d-4fd1-a6b3-5fbc50a85cd4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dsdD6fRvsQt0GXeH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableName": "historial_conversaciones"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -32,
        848
      ],
      "id": "0456497b-a4e4-4cb5-8893-869b3b25ee81",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "EuEbLjm0Yx9snHhs",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch - Tipo de mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Tipo de mensaje": {
      "main": [
        [
          {
            "node": "Set - Datos Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Set - Datos Carta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Datos Cliente": {
      "main": [
        [
          {
            "node": "DB - Upsert Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Upsert Cliente": {
      "main": [
        [
          {
            "node": "If - Primer Mensaje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Primer Mensaje?": {
      "main": [
        [
          {
            "node": "Set - Saludo Primera Vez",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Saludo Recurrente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Saludo Primera Vez": {
      "main": [
        [
          {
            "node": "HTTP - Enviar Mensaje Interactivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Saludo Recurrente": {
      "main": [
        [
          {
            "node": "HTTP - Enviar Mensaje Interactivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Set - Datos Carta": {
      "main": [
        [
          {
            "node": "If - Botón Carta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Botón Carta?": {
      "main": [
        [
          {
            "node": "Set - Mensaje Carta",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set - Mensaje Carta": {
      "main": [
        [
          {
            "node": "HTTP - Enviar Carta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ba4fcec2-7a78-4a8c-b59a-fced2f5f3b0f",
  "meta": {
    "instanceId": "5c77fd69a044fc8332661839d745fcc4cdf4ca99c0317eb006f96ebbbb87b133"
  },
  "id": "KXc6uBGxauGvLUnQ",
  "tags": []
}
