Restaurant/Reservation-copy.json
{
  "name": "Reservation-copy",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg1",
              "name": "nombreRestaurante",
              "type": "string",
              "value": "tacomiendo"
            },
            {
              "id": "cfg2",
              "name": "telefonoPedidos",
              "type": "string",
              "value": "+51-987654321"
            },
            {
              "id": "cfg3",
              "name": "descripcion",
              "type": "string",
              "value": "Taquería y antojos — pedidos y reservas disponibles."
            },
            {
              "id": "cfg9",
              "name": "zonaHoraria",
              "type": "string",
              "value": "America/Lima"
            }
          ]
        },
        "options": {}
      },
      "id": "e68498ab-eb03-4c83-a2fe-ab90064e2d3b",
      "name": "Configuración - Global",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        688
      ]
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "55f625f0-dee4-4ac1-9cf5-e6b7b9b10b2f",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1328,
        400
      ],
      "webhookId": "b683d199-d836-4837-b0f3-4501a158747f",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "yrZgHUs4XTfTRn5A",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "location"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Ubicación"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "interactive"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Interactivo"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "image"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Imagen"
            }
          ]
        },
        "options": {}
      },
      "id": "65020046-4faf-4d4d-9371-c9457113def9",
      "name": "Switch - Tipo de mensaje",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1072,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sc1",
              "name": "telefono",
              "type": "string",
              "value": "={{ $json.messages[0].from }}"
            },
            {
              "id": "sc2",
              "name": "nombre",
              "type": "string",
              "value": "={{ $json.contacts && $json.contacts[0] && $json.contacts[0].profile && $json.contacts[0].profile.name ? $json.contacts[0].profile.name : ($json.messages[0].text && $json.messages[0].text.body ? $json.messages[0].text.body : '') }}"
            },
            {
              "id": "sc3",
              "name": "primerMensaje",
              "type": "string",
              "value": "={{ $json.messages[0].text && $json.messages[0].text.body ? $json.messages[0].text.body : '' }}"
            },
            {
              "id": "sc4",
              "name": "metadata",
              "type": "json",
              "value": "={{ $json }}"
            },
            {
              "id": "sc5",
              "name": "telefonoPedidos",
              "type": "string",
              "value": "+51-987654321"
            },
            {
              "id": "sc6",
              "name": "phoneNumberId",
              "type": "string",
              "value": "={{ $json.metadata && $json.metadata.phone_number_id ? $json.metadata.phone_number_id : '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f11cf529-69ab-44f4-90a9-f9ddf7565c6b",
      "name": "Set - Datos Cliente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v21.0/' + $node[\"Set - Datos Cliente\"].json.phoneNumberId + '/messages' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  messaging_product: 'whatsapp',\n  recipient_type: 'individual',\n  to: $json.telefono,\n  type: 'interactive',\n  interactive: {\n    type: 'button',\n    body: {\n      text: $json.mensaje\n    },\n    action: {\n      buttons: [\n        {\n          type: 'reply',\n          reply: { id: 'VER_MENU', title: '🌮 Ver menú' }\n        },\n        {\n          type: 'reply',\n          reply: { id: 'HACER_PEDIDO', title: '🛵 Hacer pedido' }\n        }\n      ]\n    }\n  }\n}) }}",
        "options": {}
      },
      "id": "56d97319-c64f-4979-a0d0-f79ee321df00",
      "name": "HTTP - Enviar Mensaje Interactivo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        -16
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "Ur6ZELwtVtxItVPE",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ai_prompt_input }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Eres el **asistente de pedidos de la taquería “Tacomiendo”** que atiende a clientes por WhatsApp.\nEl entorno en el que trabajas es n8n, donde tú **no hablas directamente con el usuario**, sino que recibes y devuelves datos en JSON para que otro sistema envíe los mensajes y ejecute acciones.\n\n## Reglas\n1. **Herramienta obligatoria**: Siempre debes usar la herramienta `Obtener Carta` para recuperar el archivo `Restaurant/resources/carta.json` desde el repositorio `marcksdbgg/m8-apps` antes de responder cuando `order_state` empieza por `PENDIENTE_PEDIDO_`. Descarga la carta, conviértela en JSON y analiza todas sus categorías, productos y variantes antes de producir cualquier `pedido_parseado`.\n2. **Fuente única de verdad**: Nunca confíes en tu memoria ni en conocimiento general. Basa cada decisión exclusivamente en los datos del JSON obtenido mediante `Obtener Carta` y en el mensaje del usuario. No respondas desde la memoria.\n3. **Fallo de herramienta**: Si `Obtener Carta` no está disponible o falla, responde únicamente con `No se puede recuperar datos`, deja `pedido_parseado` vacío, `total` en `0`, `accion = \"NONE\"` y registra el error en `errores`. No intentes continuar sin el archivo.\n4. **Cero alucinaciones**: No inventes productos, variantes, precios, promociones ni estados. Si el usuario menciona algo que no existe en la carta oficial, explícalo en `respuesta`, agrega una nota en `errores` y solicita que elija un ítem válido.\n5. **Datos faltantes**: Si falta información para construir el pedido (por ejemplo cantidades, tamaños, mezclas o aclarar a qué producto se refiere), no asumas. Indica exactamente qué campos faltan, pide esos datos al usuario, deja `pedido_parseado` vacío, `total = 0` y usa una acción que invite a completar la información (`accion = \"INFO_PEDIDO\"`). Documenta los campos faltantes en `errores`.\n6. **Sin detalles técnicos**: Nunca menciones nombres de herramientas, JSON, estructuras ni n8n al cliente final. Toda la comunicación al cliente es en español neutro y tono cercano.\n\n### Herramienta `Obtener Carta`\n- Función: descarga la carta oficial en formato JSON directamente desde GitHub.\n- Uso requerido: cada vez que `order_state` empieza por `PENDIENTE_PEDIDO_`, invoca la herramienta antes de interpretar el mensaje. Analiza el JSON completo para mapear cada producto (`producto_id`, `categoria_id`, variantes y `precio`).\n- Si después de recuperar la carta necesitas volver a consultar (por ejemplo, porque el usuario cambia el pedido), vuelve a ejecutar la herramienta para asegurarte de tener la versión más reciente.\n- Solo puedes basarte en la información obtenida con esta herramienta; no se permite usar conocimiento previo ni suposiciones externas.\n\n### Contexto de negocio\n* Tacomiendo es una taquería que vende tacos y combos.\n* Los productos y precios válidos vienen en un objeto `menu`, con campos `code`, `nombre` y `precio`. **Nunca inventes productos ni precios** y confirma cada detalle contra la carta descargada con `Obtener Carta`.\n* Los pedidos pueden ser de dos tipos: `recojo` en tienda o `delivery`.\n* Para **recojo** el pago se hace al recoger en caja.\n* Para **delivery** el pago es adelantado por *Yape/Plin* al número configurado, y el cliente debe enviar la captura completa del pago.\n### Estados del pedido\nRecibes un campo `order_state` que puede ser:\n* `NONE`: no hay pedido abierto.\n* `PENDIENTE_TIPO_ENTREGA`\n* `PENDIENTE_PEDIDO_RECOJO`\n* `PENDIENTE_PEDIDO_DELIVERY`\n* `PENDIENTE_DATOS_DELIVERY`\n* `PENDIENTE_UBICACION`\n* `PENDIENTE_PAGO`\n* `COMPLETO`\n  Debes adaptar tus respuestas y tus acciones a ese estado, sin cambiarlo arbitrariamente.\n\n### Lo que recibes\nSiempre recibirás un JSON con, al menos:\n* `user_message`: texto que escribió el cliente.\n* `order_state`: estado actual del pedido.\n* `previous_summary`: resumen corto del pedido actual (si existe).\n* `phone`: número de WhatsApp del cliente (identificador de sesión).\n\n### Lo que debes devolver\nDevuelve SIEMPRE un JSON **válido** con esta forma:\n```json\n{\n  \"respuesta\": \"Perfecto, te preparo 2 tacos res + pollo medium y 1 taco vegetariano small. El total es S/ 37.00. ¿Confirmas tu pedido?\",\n  \"accion\": \"NONE |  MOSTRAR_CARTA | INFO_PEDIDO | INFO_DELIVERY | ORDEN_DESCONOCIDA | ESPERAR_UBICACION | ESPERAR_PAGO | ORDEN_CONFIRMADA\",\n  \"pedido_parseado\": [\n    {\n      \"producto_id\": \"taco_res_pollo\",\n      \"producto_nombre\": \"Taco res + pollo\",\n      \"categoria_id\": \"el_clasico\",\n      \"cantidad\": 2,\n      \"variant_id\": \"taco_res_pollo__01_medium\",\n      \"variant_label\": \"01 Medium\",\n      \"size_code\": \"01_medium\",\n      \"precio_unitario\": 12.0,\n      \"subtotal\": 24.0\n    },\n    {\n      \"producto_id\": \"taco_vegetariano\",\n      \"producto_nombre\": \"Taco Vegetariano\",\n      \"categoria_id\": \"los_atrevidos\",\n      \"cantidad\": 1,\n      \"variant_id\": \"taco_vegetariano__02_small\",\n      \"variant_label\": \"02 Small\",\n      \"size_code\": \"02_small\",\n      \"precio_unitario\": 13.0,\n      \"subtotal\": 13.0\n    }\n  ],\n  \"total\": 37.0,\n  \"resumen_pedido\": \"2x Taco res + pollo (01 Medium) = S/ 24.00\\n1x Taco Vegetariano (02 Small) = S/ 13.00\\nTotal: S/ 37.00\",\n  \"errores\": []\n}\nDonde:\n```\n* `respuesta`: escribe SIEMPRE un mensaje listo para enviar por WhatsApp, en tono cercano y breve.\n* `accion`: qué debería hacer el workflow después.\n* `pedido_parseado`: solo debe de ser llenado cuando el usuario haya descrito su pedido y haya un menú disponible; mapea a códigos exactos del menú.\n  Si no hay líneas de pedido, usa un array vacío.\n* `total`: suma de los subtotales. Si no existe pedido válido o faltan datos, coloca `0`.\n* `errores`: lista cada ambigüedad, producto no encontrado o dato faltante que te impida armar el pedido.\n* `resumen_pedido`: detalla el pedido línea por línea solo cuando tengas un pedido válido; de lo contrario deja una cadena vacía.\n\n### Comportamiento por estado\n* Si `order_state = NONE`:\n  * Si el usuario solo saluda, respóndele y **anímalo** a usar los botones de \"Menú\" o \"Hacer pedido\" o a decir que quiere pedir, pon `accion = \"MOSTRAR_CARTA\"`.\n  * Si pregunta por horarios, dirección o menú, respóndele y, si corresponde, pon `accion = \"MOSTRAR_CARTA\"`.\n  * Si claramente quiere hacer un pedido, usa `accion = \"INFO_PEDIDO\"`.\n* Si `order_state` empieza por `PENDIENTE_PEDIDO_`:\n  * Antes de interpretar el mensaje, ejecuta `Obtener Carta`, analiza el JSON completo y extrae los datos necesarios.\n  * Interpreta el mensaje como listado de productos, aunque sea en lenguaje natural.\n  * Usa el `menu` del JSON para proponer `pedido_parseado` con `producto_id`, `variant_id`, `variant_label`, `size_code`, `precio_unitario` y `subtotal` exactos.\n  * Resume el pedido en `respuesta` con cantidades y total y pon `accion = \"ORDEN_CONFIRMADA\"` únicamente si el pedido está completo y sin dudas.\n  * Si aún faltan datos, explica qué falta, deja `pedido_parseado` vacío, `total = 0`, `accion = \"INFO_PEDIDO\"` y registra los datos faltantes en `errores`.\n* Si `order_state = PENDIENTE_DATOS_DELIVERY`:\n  * Extrae nombre y referencia de entrega si el usuario los proporciona.\n  * Pide de forma amable cualquier dato que falte.\n  * Usa `accion = \"ESPERAR_UBICACION\"`.\n* Si `order_state = PENDIENTE_UBICACION`:\n  * Recuerda al usuario que debe enviar la ubicación con el clip 📎 si insiste en escribir texto.\n* Si `order_state = PENDIENTE_PAGO`:\n  * Explica que solo falta el pago por Yape/Plin y la captura.\n  * Usa `accion = \"ESPERAR_PAGO\"`.\n\n### Estilo de respuesta\n* Siempre responde en **español neutro**, tono amigable y claro.\n* No menciones nunca palabras como “JSON”, “estructura”, “tool”, “Obtener Carta” ni detalles técnicos de n8n. Eso solo es interno.\n* Si no entiendes algo, pide aclaración de manera muy concreta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        304
      ],
      "id": "df185760-8d65-4ed3-b789-840c3c491d88",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "builtInTools": {},
        "options": {
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        112,
        560
      ],
      "id": "f6a1eaa2-2e29-41ed-9fff-3097c6b800d2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dsdD6fRvsQt0GXeH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set - Datos Cliente').first().json.telefono }}",
        "tableName": "historial_conversaciones",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        256,
        560
      ],
      "id": "119a6d1d-e4cf-4ba2-a14a-3041a8a70c9a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "EuEbLjm0Yx9snHhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "btn1",
              "name": "telefono",
              "type": "string",
              "value": "={{ $json.messages[0].from }}"
            },
            {
              "id": "btn2",
              "name": "phoneNumberId",
              "type": "string",
              "value": "={{ $json.metadata.phone_number_id }}"
            },
            {
              "id": "btn3",
              "name": "buttonId",
              "type": "string",
              "value": "={{ $json.messages[0].interactive.button_reply.id }}"
            },
            {
              "id": "btn4",
              "name": "buttonTitle",
              "type": "string",
              "value": "={{ $json.messages[0].interactive.button_reply.title }}"
            }
          ]
        },
        "options": {}
      },
      "id": "96c8a311-a2e5-4fc0-87df-efe5f816a47a",
      "name": "Set - Datos Botón WhatsApp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        768
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.buttonId }}",
                    "rightValue": "VER_MENU",
                    "id": "02b82466-4afc-4019-a545-071468a1b84c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VerMenú"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.buttonId }}",
                    "rightValue": "HACER_PEDIDO",
                    "id": "8deb3aa2-4abd-427f-8b2e-2a63aa02b2de"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HacerPedido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.buttonId }}",
                    "rightValue": "PEDIDO_RECOJO",
                    "id": "64aa0f28-bf73-434c-a9e4-eec32fd94d20"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RecojoTienda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.buttonId }}",
                    "rightValue": "PEDIDO_DELIVERY",
                    "id": "2bb7f090-af22-4aa0-89ea-dca23739b915"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Delivery"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f2c079-4dd4-4396-99b3-4c57aa3db80b",
      "name": "Switch - Ruta Botón",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -560,
        784
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "telefono",
              "type": "string",
              "value": "={{ $json.telefono }}"
            },
            {
              "id": "m2",
              "name": "phoneNumberId",
              "type": "string",
              "value": "={{ $json.phoneNumberId }}"
            },
            {
              "id": "m3",
              "name": "mensaje",
              "type": "string",
              "value": "={{ 'Aquí tienes nuestra carta completa: https://wa.me/p/29826327967012417/51921127939' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0b2f193f-8185-4404-a2a7-1bc2f5b4651f",
      "name": "Set - Mensaje Menú",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        864
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v21.0/' + $json.phoneNumberId + '/messages' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  messaging_product: 'whatsapp',\n  to: $json.telefono,\n  type: 'text',\n  text: { body: $json.mensaje }\n}) }}",
        "options": {}
      },
      "id": "4612d367-e4af-497c-8515-63b4cee4cd4a",
      "name": "HTTP - Enviar Menú",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        912
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "Ur6ZELwtVtxItVPE",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v21.0/' + $json.phoneNumberId + '/messages' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  messaging_product: 'whatsapp',\n  to: $json.telefono,\n  type: 'interactive',\n  interactive: {\n    type: 'button',\n    body: {\n      text: '¿Cómo prefieres tu pedido?'\n    },\n    action: {\n      buttons: [\n        { type: 'reply', reply: { id: 'PEDIDO_RECOJO', title: '🏪 Recojo en tienda' } },\n        { type: 'reply', reply: { id: 'PEDIDO_DELIVERY', title: '🛵 Delivery' } }\n      ]\n    }\n  }\n}) }}",
        "options": {}
      },
      "id": "f9cec6ee-9c2c-46c2-aaa1-a1caa6336bc6",
      "name": "HTTP - Preguntar Tipo Entrega",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        1104
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "Ur6ZELwtVtxItVPE",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pedidos (cliente_id, estado, tipo_pedido)\nSELECT id, $2, $3\nFROM clientes\nWHERE telefono = $1\nRETURNING id;",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $('Set - Datos Botón WhatsApp').first().json.telefono }},{{ $json.estado }},{{ $json.tipo_entrega }}"
        }
      },
      "id": "35382419-7007-4bca-80c4-8009288fdf01",
      "name": "DB - Crear Pedido",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        1472
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EuEbLjm0Yx9snHhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tp1",
              "name": "tipo_entrega",
              "type": "string",
              "value": "recojo"
            },
            {
              "id": "tp2",
              "name": "estado",
              "type": "string",
              "value": "PENDIENTE_PEDIDO_RECOJO"
            }
          ]
        },
        "options": {}
      },
      "id": "78cf9257-818c-4fad-9412-e544178d09a6",
      "name": "Set - Tipo Recojo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        1344
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tp1",
              "name": "tipo_entrega",
              "type": "string",
              "value": "delivery"
            },
            {
              "id": "tp2",
              "name": "estado",
              "type": "string",
              "value": "PENDIENTE_PEDIDO_DELIVERY"
            }
          ]
        },
        "options": {}
      },
      "id": "cddcd8c5-23d4-4556-aed6-f2e910e0e847",
      "name": "Set - Tipo Delivery",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        1536
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH pedido_actual AS (\n  -- 1) Último pedido abierto del cliente cuyo estado comience por PENDIENTE_PEDIDO_\n  SELECT p.id, p.estado\n  FROM pedidos p\n  WHERE p.cliente_id = $1\n    AND p.estado LIKE 'PENDIENTE_PEDIDO_%'\n  ORDER BY p.creado_en DESC\n  LIMIT 1\n),\nactualizar_pedido AS (\n  -- 2) Actualizar la cabecera del pedido con la respuesta del LLM\n  UPDATE pedidos p\n  SET\n    accion         = $2::text,\n    respuesta      = $3::text,\n    resumen_pedido = $4::text,\n    errores        = COALESCE($5::jsonb, '[]'::jsonb),\n    total          = $6::numeric,\n    actualizado_en = now()\n  FROM pedido_actual pa\n  WHERE p.id = pa.id\n  RETURNING p.*\n),\nborrar_items AS (\n  -- 3) Borrar items antiguos SOLO si:\n  --    - NO hay errores\n  --    - y SÍ hay líneas en pedido_parseado\n  DELETE FROM pedido_items pi\n  USING pedido_actual pa\n  WHERE pi.pedido_id = pa.id\n    AND jsonb_array_length(COALESCE($5::jsonb, '[]'::jsonb)) = 0\n    AND jsonb_array_length(COALESCE($7::jsonb, '[]'::jsonb)) > 0\n),\ninsertar_items AS (\n  -- 4) Insertar items nuevos SOLO si NO hay errores\n  INSERT INTO pedido_items (\n    pedido_id,\n    producto_id,\n    producto_nombre,\n    categoria_id,\n    cantidad,\n    variant_id,\n    variant_label,\n    size_code,\n    precio_unitario,\n    subtotal\n  )\n  SELECT\n    pa.id AS pedido_id,\n    item->>'producto_id'      AS producto_id,\n    item->>'producto_nombre'  AS producto_nombre,\n    item->>'categoria_id'     AS categoria_id,\n    (item->>'cantidad')::int  AS cantidad,\n    item->>'variant_id'       AS variant_id,\n    item->>'variant_label'    AS variant_label,\n    item->>'size_code'        AS size_code,\n    (item->>'precio_unitario')::numeric AS precio_unitario,\n    (item->>'subtotal')::numeric        AS subtotal\n  FROM pedido_actual pa,\n       LATERAL jsonb_array_elements(COALESCE($7::jsonb, '[]'::jsonb)) AS item\n  WHERE jsonb_array_length(COALESCE($5::jsonb, '[]'::jsonb)) = 0\n),\nitems_agg AS (\n  -- 5) Siempre leemos los items actuales del pedido (hayan sido modificados o no)\n  SELECT\n    pa.id AS pedido_id,\n    COALESCE(\n      jsonb_agg(\n        jsonb_build_object(\n          'producto_id',     pi.producto_id,\n          'producto_nombre', pi.producto_nombre,\n          'categoria_id',    pi.categoria_id,\n          'cantidad',        pi.cantidad,\n          'variant_id',      pi.variant_id,\n          'variant_label',   pi.variant_label,\n          'size_code',       pi.size_code,\n          'precio_unitario', pi.precio_unitario,\n          'subtotal',        pi.subtotal\n        )\n        ORDER BY pi.id\n      ) FILTER (WHERE pi.id IS NOT NULL),\n      '[]'::jsonb\n    ) AS items\n  FROM pedido_actual pa\n  LEFT JOIN pedido_items pi ON pi.pedido_id = pa.id\n  GROUP BY pa.id\n)\n-- 6) Resultado final que verá n8n\nSELECT\n  ap.id             AS pedido_id,\n  ap.estado,\n  ap.accion,\n  ap.total,\n  ap.resumen_pedido,\n  ap.errores,\n  ia.items\nFROM actualizar_pedido ap\nJOIN items_agg ia ON ia.pedido_id = ap.id;\n",
        "options": {
          "queryReplacement": "={{ $node[\"DB - Insertar o Actualizar Cliente\"].json[\"id\"] }},{{ $node[\"AI Agent\"].json[\"accion\"] }},{{ $node[\"AI Agent\"].json[\"respuesta\"] }},{{ $node[\"AI Agent\"].json[\"resumen_pedido\"] }},{{ $node[\"AI Agent\"].json[\"errores\"] }},{{ $node[\"AI Agent\"].json[\"pedido_parseado\"] }}"
        }
      },
      "id": "b600b619-c699-4849-bc71-e9d6f820203a",
      "name": "DB - Actualizar Pedido Detalle",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        832
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EuEbLjm0Yx9snHhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id AS pedido_id FROM pedidos p JOIN clientes c ON c.id = p.cliente_id WHERE c.telefono = $1 AND p.estado = 'PENDIENTE_UBICACION' ORDER BY p.creado_en DESC LIMIT 1;",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{[ $json.messages[0].from ]}}"
        }
      },
      "id": "582e2c8b-03ef-49e9-a750-e72bd448ad30",
      "name": "DB - Obtener Pedido Activo Ubicación",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -752,
        336
      ],
      "credentials": {
        "postgres": {
          "id": "EuEbLjm0Yx9snHhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pedidos\nSET ubicacion = jsonb_build_object(\n      'lat', $2,\n      'lng', $3\n    ),\n    estado = 'PENDIENTE_PAGO',\n    actualizado_en = now()\nWHERE id = $1;",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ [ $json.pedido_id, $json.messages[0].location.latitude, $json.messages[0].location.longitude ] }}"
        }
      },
      "id": "98281566-5520-43c6-a157-6362bbbe5177",
      "name": "DB - Actualizar Ubicación Pedido",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -624,
        512
      ],
      "credentials": {
        "postgres": {
          "id": "EuEbLjm0Yx9snHhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "img1",
              "name": "telefono",
              "type": "string",
              "value": "={{ $json.messages[0].from }}"
            },
            {
              "id": "img2",
              "name": "phoneNumberId",
              "type": "string",
              "value": "={{ $json.metadata.phone_number_id }}"
            },
            {
              "id": "img3",
              "name": "media_id",
              "type": "string",
              "value": "={{ $json.messages[0].image.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f0750387-d6e8-4a00-821f-c7ea161637f8",
      "name": "Set - Datos Imagen Pago",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst articulos = item.articulos || [];\nconst lineas = articulos.map(a => `${a.cantidad}x ${a.nombre}`);\n\nlet ubicacionTexto = 'Sin ubicación (Pedido para recojo)';\nif (item.ubicacion && item.ubicacion.lat && item.ubicacion.lng) {\n  const url = `https://www.google.com/maps?q=${item.ubicacion.lat},${item.ubicacion.lng}`;\n  ubicacionTexto = `Ubicación: ${url}`;\n}\n\nitem.resumenStaff = `*Nuevo pedido ${item.tipo_entrega?.toUpperCase() || ''} (#${item.id})*\\n\\nCliente: ${item.nombre || ''} (${item.telefono})\\n\\n` +\n  lineas.join('\\n') +\n  `\\n\\nTotal: S/ ${Number(item.total || 0).toFixed(2)}\\n` +\n  ubicacionTexto +\n  `\\n\\nSe adjunta la captura del pago.`;\n\nreturn $input.all();"
      },
      "id": "efb60545-22d9-4138-a928-6746a641ea43",
      "name": "Code - Resumen Staff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        1584
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v21.0/' + $json.phoneNumberId + '/messages' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  messaging_product: 'whatsapp',\n  to: $node[\"Configuración - Global\"].json.telefonoPedidos,\n  type: 'image',\n  image: {\n    id: $json.comprobante_media_id,\n    caption: $json.resumenStaff\n  }\n}) }}",
        "options": {}
      },
      "id": "fc8ae8aa-fb08-4239-b1ba-2769b6c6748f",
      "name": "HTTP - Enviar Resumen Staff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        1584
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "Ur6ZELwtVtxItVPE",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.*\nFROM pedidos p\nJOIN clientes c ON p.cliente_id = c.id\nWHERE c.telefono = $1\n  AND p.estado <> 'COMPLETO'\nORDER BY p.creado_en DESC\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $node[\"Set - Datos Cliente\"].json.telefono }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -144,
        304
      ],
      "id": "226b0236-8a59-450d-bea4-8f1f9a8aa70a",
      "name": "DB - Obtener Pedido Activo",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EuEbLjm0Yx9snHhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"respuesta\": {\n      \"type\": \"string\",\n      \"description\": \"Texto en español amigable para el cliente, listo para enviar por WhatsApp.\"\n    },\n    \"accion\": {\n      \"type\": \"string\",\n      \"description\": \"Acción que debe ejecutar el workflow de n8n.\",\n      \"enum\": [\n        \"NONE\",\n        \"MOSTRAR_CARTA\",\n        \"INFO_PEDIDO\",\n        \"INFO_DELIVERY\",\n        \"ORDEN_DESCONOCIDA\",\n        \"ESPERAR_UBICACION\",\n        \"ESPERAR_PAGO\",\n        \"ORDEN_CONFIRMADA\"\n      ]\n    },\n    \"pedido_parseado\": {\n      \"type\": \"array\",\n      \"description\": \"Lista de líneas de pedido interpretadas a partir del mensaje del cliente.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"producto_id\": {\n            \"type\": \"string\",\n            \"description\": \"ID del producto según la carta, por ejemplo 'taco_res_pollo'.\"\n          },\n          \"producto_nombre\": {\n            \"type\": \"string\",\n            \"description\": \"Nombre comercial del producto, por ejemplo 'Taco res + pollo'.\"\n          },\n          \"categoria_id\": {\n            \"type\": \"string\",\n            \"description\": \"ID de la categoría en la carta, por ejemplo 'el_clasico' o 'los_atrevidos'.\"\n          },\n          \"cantidad\": {\n            \"type\": \"integer\",\n            \"minimum\": 1,\n            \"description\": \"Cantidad de unidades solicitadas de este producto/variante.\"\n          },\n          \"variant_id\": {\n            \"type\": \"string\",\n            \"description\": \"ID de la variante exacta, por ejemplo 'taco_res_pollo__01_medium'.\"\n          },\n          \"variant_label\": {\n            \"type\": \"string\",\n            \"description\": \"Etiqueta de la variante, por ejemplo '01 Medium', '02 Small' o 'Tamaño único'.\"\n          },\n          \"size_code\": {\n            \"type\": \"string\",\n            \"description\": \"Código de tamaño según la carta, por ejemplo '01_medium', '02_small', 'unico'.\"\n          },\n          \"precio_unitario\": {\n            \"type\": \"number\",\n            \"description\": \"Precio unitario en la moneda configurada para esa variante.\"\n          },\n          \"subtotal\": {\n            \"type\": \"number\",\n            \"description\": \"Precio_unitario * cantidad.\"\n          }\n        },\n        \"required\": [\n          \"producto_id\",\n          \"cantidad\",\n          \"variant_id\",\n          \"size_code\",\n          \"precio_unitario\",\n          \"subtotal\"\n        ]\n      }\n    },\n    \"total\": {\n      \"type\": \"number\",\n      \"description\": \"Total del pedido sumando todos los subtotales.\"\n    },\n    \"resumen_pedido\": {\n      \"type\": \"string\",\n      \"description\": \"Resumen en texto del pedido, línea por línea, listo para mostrar al cliente o staff.\"\n    },\n    \"errores\": {\n      \"type\": \"array\",\n      \"description\": \"Mensajes de error o advertencia (por ejemplo, productos no encontrados o dudas de interpretación).\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\n    \"respuesta\",\n    \"accion\",\n    \"pedido_parseado\",\n    \"total\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        720
      ],
      "id": "d7b50e57-a7ff-49ad-9d95-bf0e599155a9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Obtiene el json de la carta desde github",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "marcksdbgg",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "m8-apps",
          "mode": "name"
        },
        "filePath": "Restaurant/resources/carta.json",
        "asBinaryProperty": false,
        "additionalParameters": {
          "reference": "main"
        }
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        400,
        656
      ],
      "id": "3f8147af-d4cf-43eb-95db-6b9f38a4935b",
      "name": "Obtener Carta",
      "webhookId": "6bbb02d9-9ee9-4ad5-becc-72fc25b2e227",
      "credentials": {
        "githubApi": {
          "id": "zv1NwM18dIrEb3IE",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.output.accion }}",
                    "rightValue": "MOSTRAR_CARTA",
                    "id": "02b82466-4afc-4019-a545-071468a1b84c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MostrarCarta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.output.accion }}",
                    "rightValue": "INFO_PEDIDO",
                    "id": "8deb3aa2-4abd-427f-8b2e-2a63aa02b2de"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "InfoPedido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.output.accion }}",
                    "rightValue": "INFO_DELIVERY",
                    "id": "64aa0f28-bf73-434c-a9e4-eec32fd94d20"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "InfoDelivery"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.output.accion }}",
                    "rightValue": "ORDEN_DESCONOCIDA",
                    "id": "2bb7f090-af22-4aa0-89ea-dca23739b915"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OrdenDesconocida"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3f10c068-442d-4eda-a704-43edb83b9a0f",
                    "leftValue": "={{ $json.output.accion }}",
                    "rightValue": "ORDEN_CONFIRMADA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OrdenConfirmada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "15f77105-e7fb-4047-9df5-1fd8c27cde47",
                    "leftValue": "={{ $json.output.accion }}",
                    "rightValue": "ESPERAR_UBICACION",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EsperarUbiacion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ccc2d31a-bc1d-4e91-9fe2-3ecf62cc2d88",
                    "leftValue": "={{ $json.output.accion }}",
                    "rightValue": "ESPERAR_PAGO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EsperarPago"
            }
          ]
        },
        "options": {}
      },
      "id": "37cb0dde-8fab-40fd-b0a0-881c67b3d871",
      "name": "Switch - accion",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        576,
        288
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"estado\"] }}",
                    "rightValue": "PENDIENTE_PEDIDO_DELIVERY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "85bb4802-4b4d-4c06-82e1-5f2d20780a04"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Delivery"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2423dbe2-06c1-4fdc-8414-d54c13316114",
                    "leftValue": "={{ $json[\"estado\"] }}",
                    "rightValue": "PENDIENTE_PEDIDO_RECOJO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Recojo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1280,
        832
      ],
      "id": "31f5d913-dd3f-4dac-9ad1-3dcb92e9bd84",
      "name": "Switch - Tipo Pedido"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "telefono",
              "type": "string",
              "value": "={{ $json.telefono }}"
            },
            {
              "id": "m2",
              "name": "phoneNumberId",
              "type": "string",
              "value": "={{ $json.phoneNumberId }}"
            },
            {
              "id": "m3",
              "name": "mensaje",
              "type": "string",
              "value": "=={{ \"✅ ¡Tu pedido ha sido confirmado para recoger en tienda!\\\\n\\\\n\" + $json.resumen_pedido + \"\\\\n\\\\nPuedes pagar con efectivo, tarjeta, Yape o Plin al momento de retirar tu orden.\\\\n\\\\n¡Te esperamos pronto!\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d9531adb-6ed3-43e9-92c9-3e2e316dfd69",
      "name": "Set - Mensaje Recojo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v21.0/' + $json.phoneNumberId + '/messages' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  messaging_product: 'whatsapp',\n  to: $json.telefono,\n  type: 'text',\n  text: { body: $json.mensaje }\n}) }}",
        "options": {}
      },
      "id": "c292faba-2a72-4d9a-b0d5-ef8c1d2f8805",
      "name": "HTTP - Enviar Resumen Pedido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        960
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "Ur6ZELwtVtxItVPE",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v21.0/' + $json.phoneNumberId + '/messages' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  messaging_product: 'whatsapp',\n  to: $json.telefono,\n  type: 'text',\n  text: { body: $json.mensaje }\n}) }}",
        "options": {}
      },
      "id": "d956b624-5bee-433d-b1b1-d795e4d60dae",
      "name": "HTTP - Enviar Ubi msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        528
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "Ur6ZELwtVtxItVPE",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v21.0/' + $json.phoneNumberId + '/messages' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  messaging_product: 'whatsapp',\n  to: $json.telefono,\n  type: 'text',\n  text: { body: $json.mensaje }\n}) }}",
        "options": {}
      },
      "id": "b3b49d6a-d371-43dd-b435-c962ad7d3ed5",
      "name": "HTTP - Enviar Pago msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        496
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "Ur6ZELwtVtxItVPE",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sal1",
              "name": "telefono",
              "type": "string",
              "value": "={{ $node[\"Set - Datos Cliente\"].json.telefono }}"
            },
            {
              "id": "sal2",
              "name": "mensaje",
              "type": "string",
              "value": "=¡Hola, {{ $json.nombre ? $json.nombre + '! ' : '' }}Bienvenido a 🌮 *Tacomiendo*!\\n\\nPreparamos nuestros tacos al momento, con tortillas recién hechas y salsas caseras que pican rico 🌶️.\\n\\nUsa los botones de abajo para empezar. ¡Provecho!"
            }
          ]
        },
        "options": {}
      },
      "id": "35bd5840-aa13-40bd-8b11-3dd374417745",
      "name": "Set - Mensaje Bienvenida",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sal3",
              "name": "telefono",
              "type": "string",
              "value": "={{ $node[\"Set - Datos Cliente\"].json.telefono }}"
            },
            {
              "id": "sal4",
              "name": "mensaje",
              "type": "string",
              "value": "=¡Hola de nuevo, {{ $node[\"Set - Datos Cliente\"].json.nombre || 'comensal' }}! Soy el robot de 🌮 *Tacomiendo*.\n¿En qué te puedo ayudar hoy?"
            }
          ]
        },
        "options": {}
      },
      "id": "33b11395-7d02-47a5-b1bd-735aec202470",
      "name": "Set - Mensaje Recurrente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "telefono",
              "type": "string",
              "value": "={{ $json.telefono }}"
            },
            {
              "id": "m2",
              "name": "phoneNumberId",
              "type": "string",
              "value": "={{ $json.phoneNumberId }}"
            },
            {
              "id": "m3",
              "name": "mensaje",
              "type": "string",
              "value": "=={{ \"¡Perfecto! Tu pedido para delivery es:\\\\n\\\\n\" + $json.resumen_pedido + \"\\\\n\\\\nPara coordinar la entrega, por favor, responde a este mensaje con:\\\\n\\\\n- Tu nombre completo.\\n- Una referencia para el repartidor (ej: \\\"casa azul de dos pisos\\\").\\\\n- Un teléfono de contacto adicional (opcional).\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "69215895-dd20-40ad-bab0-19bab601555b",
      "name": "Set - Mensaje Pedir Datos Delivery",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "telefono",
              "type": "string",
              "value": "={{ $json.telefono }}"
            },
            {
              "id": "m2",
              "name": "phoneNumberId",
              "type": "string",
              "value": "={{ $json.phoneNumberId }}"
            },
            {
              "id": "m3",
              "name": "mensaje",
              "type": "string",
              "value": "=Gracias. Ahora, por favor, comparte tu ubicación exacta.\\n\\nToca el icono del clip 📎 en WhatsApp, selecciona \"Ubicación\" y luego pulsa en \"Enviar mi ubicación actual\"."
            }
          ]
        },
        "options": {}
      },
      "id": "ad347907-02b7-49f0-909d-d012638f3f89",
      "name": "Set - Mensaje Pedir Ubicación",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        576
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "telefono",
              "type": "string",
              "value": "={{ $json.telefono }}"
            },
            {
              "id": "m2",
              "name": "phoneNumberId",
              "type": "string",
              "value": "={{ $json.phoneNumberId }}"
            },
            {
              "id": "m3",
              "name": "mensaje",
              "type": "string",
              "value": "=¡Ya casi terminamos! Solo falta el último paso.\\n\\nRealiza el pago total por *Yape* o *Plin* al número *{{ $node[\"Configuración - Global\"].json.telefonoPedidos }}* y envíame la *captura de pantalla completa* del comprobante para confirmar tu pedido."
            }
          ]
        },
        "options": {}
      },
      "id": "35bcf41d-35b9-4750-8957-634dc9642a88",
      "name": "Set - Mensaje Instrucciones de Pago",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        496
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n  INSERT INTO clientes (telefono, nombre, primer_mensaje, metadatos)\n  VALUES ($1, $2, $3, $4::jsonb)\n  ON CONFLICT (telefono) DO NOTHING\n  RETURNING id, telefono\n),\nresult AS (\n  -- Si se insertó, devolvemos ese registro y marcamos que es nuevo\n  SELECT id, TRUE AS es_primer_mensaje\n  FROM inserted\n\n  UNION ALL\n\n  -- Si NO se insertó (ya existía), buscamos el cliente y marcamos false\n  SELECT c.id, FALSE AS es_primer_mensaje\n  FROM clientes c\n  WHERE c.telefono = $1\n    AND NOT EXISTS (SELECT 1 FROM inserted)\n)\nSELECT *\nFROM result\nLIMIT 1;\n",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ [ $json.telefono, $json.nombre, $json.primerMensaje, $json.metadata ] }}"
        }
      },
      "id": "a40cd116-6f04-4142-8e9c-731da3751973",
      "name": "DB - Insertar o Actualizar Cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "position": [
        -560,
        128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EuEbLjm0Yx9snHhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pedidos\nSET estado = 'PENDIENTE_DATOS_DELIVERY'\nWHERE id = {{ $json.pedido_id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1504,
        720
      ],
      "id": "39ee5afa-3ead-4f36-a362-08415ab2a3e4",
      "name": "DB - Actualizar Estado a PENDIENTE_DATOS_DELIVERY",
      "credentials": {
        "postgres": {
          "id": "EuEbLjm0Yx9snHhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pedidos\nSET estado = 'COMPLETO'\nWHERE id = {{ $json.pedido_id }};",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": ""
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1504,
        960
      ],
      "id": "e36045c8-bb95-4fad-8758-c7744bfc2032",
      "name": "DB - Actualizar Estado a COMPLETO",
      "credentials": {
        "postgres": {
          "id": "EuEbLjm0Yx9snHhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pedidos\nSET estado = 'PENDIENTE_UBICACION'\nWHERE id = {{ $json.pedido_id }}; -- Asegúrate de tener el ID del pedido del nodo anterior",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1264,
        576
      ],
      "id": "6dd14040-f070-4c03-84ad-2e38c4393f56",
      "name": "DB - Actualizar Estado a PENDIENTE_UBICACION",
      "credentials": {
        "postgres": {
          "id": "EuEbLjm0Yx9snHhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pedidos\nSET estado = 'PENDIENTE_PAGO'\nWHERE id = {{ $json.pedido_id }};",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "valor1, etc"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -496,
        352
      ],
      "id": "0a0422a6-c707-4020-aee0-18c182af029f",
      "name": "DB - Actualizar Estado a PENDIENTE_PAGO",
      "credentials": {
        "postgres": {
          "id": "EuEbLjm0Yx9snHhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH pedido_a_completar AS (\n  SELECT p.id, c.nombre, c.telefono\n  FROM pedidos p\n  JOIN clientes c ON p.cliente_id = c.id\n  WHERE c.telefono = $1 AND p.estado = 'PENDIENTE_PAGO'\n  ORDER BY p.creado_en DESC\n  LIMIT 1\n)\nUPDATE pedidos\nSET\n  estado = 'COMPLETO',\n  metadatos = metadatos || jsonb_build_object('comprobante_media_id', $2)\nWHERE id = (SELECT id FROM pedido_a_completar)\nRETURNING\n  (SELECT id FROM pedido_a_completar) as id,\n  (SELECT nombre FROM pedido_a_completar) as nombre_cliente,\n  (SELECT telefono FROM pedido_a_completar) as telefono_cliente,\n  resumen_pedido,\n  total,\n  ubicacion,\n  estado as nuevo_estado;",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "=={{ [ $json.telefono, $json.media_id ] }}"
        }
      },
      "id": "4a758010-3919-4e0e-b74f-afe94c2d9716",
      "name": "DB - Guardar Comprobante y Finalizar Pedido",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -944,
        1360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EuEbLjm0Yx9snHhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9bb2e2df-cd2d-46f5-9e14-38e365784779",
              "leftValue": "={{$json.es_primer_mensaje}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        128
      ],
      "id": "26fa9fad-b09f-4313-8416-9d65029ec0ad",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el mensaje original del usuario desde el Trigger o el Switch\n// Ajusta 'Switch - Tipo de mensaje' si tu nodo anterior se llama diferente\nconst originalMsg = $('Set - Datos Cliente').first().json.primerMensaje || $('WhatsApp Trigger').first().json.messages[0].text.body;\nconst phone = $('Set - Datos Cliente').first().json.telefono;\n\n// Obtener resultado de la base de datos (si existe)\nconst dbResult = $input.first() ? $input.first().json : {};\n\n// Determinar estado\nlet orderState = 'NONE';\nlet prevSummary = '';\n\n// Si la base de datos devolvió un ID de pedido, usamos esos datos\nif (dbResult.id && dbResult.estado) {\n  orderState = dbResult.estado;\n  prevSummary = dbResult.resumen_pedido || '';\n}\n\n// Construimos el objeto JSON EXACTO que tu System Prompt pide\nconst aiInputObject = {\n  user_message: originalMsg,\n  order_state: orderState,\n  phone: phone,\n  previous_summary: prevSummary,\n  // El menú no es necesario inyectarlo aquí si usas la herramienta 'Obtener Carta',\n  // pero el prompt dice que puede ser opcional.\n  menu: []\n};\n\n// Devolvemos este objeto como una cadena JSON (string) para que entre al Prompt\nreturn {\n  json: {\n    ai_prompt_input: JSON.stringify(aiInputObject)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        304
      ],
      "id": "7c1eded2-50ff-45c3-8ef9-1c20081bf5fa",
      "name": "Preparar Contexto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v21.0/' + $json.phoneNumberId + '/messages' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  messaging_product: 'whatsapp',\n  to: $json.telefono,\n  type: 'text',\n  text: { body: $json.mensaje }\n}) }}",
        "options": {}
      },
      "id": "95bc4f53-4dfd-4e34-8cf2-2966e0c07794",
      "name": "HTTP - Preguntar Pedido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        1472
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "Ur6ZELwtVtxItVPE",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "telefono",
              "type": "string",
              "value": "={{ $json.telefono }}"
            },
            {
              "id": "m2",
              "name": "phoneNumberId",
              "type": "string",
              "value": "={{ $json.phoneNumberId }}"
            },
            {
              "id": "m3",
              "name": "mensaje",
              "type": "string",
              "value": "=Por favor envíame el detalle completo de tu pedido en un solo mensaje (productos y cantidades)."
            }
          ]
        },
        "options": {}
      },
      "id": "180eb331-0656-4d4f-b79c-d47d477f32d6",
      "name": "Set - Mensaje Pedir Pedido",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        1472
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "telefono",
              "type": "string",
              "value": "={{ $('Set - Datos Cliente').item.json.telefono }}"
            },
            {
              "id": "m2",
              "name": "phoneNumberId",
              "type": "string",
              "value": "={{ $('Set - Datos Cliente').item.json.metadata.metadata.phone_number_id }}"
            },
            {
              "id": "m3",
              "name": "mensaje",
              "type": "string",
              "value": "={{ $json.output.respuesta }}"
            },
            {
              "id": "07ea538c-d6a8-46a5-acea-dd92c5da160e",
              "name": "output.accion",
              "value": "={{ $json.output.accion }}",
              "type": "string"
            },
            {
              "id": "43c81048-900e-498d-af96-ed0aec4cfa8d",
              "name": "output.total",
              "value": "={{ $json.output.total }}",
              "type": "number"
            },
            {
              "id": "f90169b5-aa63-4d80-97ea-a986bd560d28",
              "name": "output.resumen_pedido",
              "value": "={{ $json.output.resumen_pedido }}",
              "type": "string"
            },
            {
              "id": "dd977d2e-73f2-4a22-8908-526e6e886520",
              "name": "output.errores",
              "value": "={{ $json.output.errores }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "d92cb16d-2e9b-4c23-9513-cc65340cc35f",
      "name": "Set - Solicitar Informacion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5fc85b4b-029b-4a05-95eb-c8431a08e520",
              "leftValue": "={{ $json.output.errores }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        224
      ],
      "id": "8405107c-a5b4-4b86-9885-a2c7253f858e",
      "name": "If - Hay Errores"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v21.0/' + $json.phoneNumberId + '/messages' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  messaging_product: 'whatsapp',\n  to: $json.telefono,\n  type: 'text',\n  text: { body: $json.mensaje }\n}) }}",
        "options": {}
      },
      "id": "45d32d06-8b97-4ef0-9e4a-3e7a022cb10d",
      "name": "HTTP - Mensaje Solicitar Informacion Delivery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        720
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "Ur6ZELwtVtxItVPE",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v21.0/' + $json.phoneNumberId + '/messages' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  messaging_product: 'whatsapp',\n  to: $json.telefono,\n  type: 'text',\n  text: { body: $json.mensaje }\n}) }}\n\n",
        "options": {}
      },
      "id": "d1dc3236-da0b-4084-a6df-9ee6ec71d2f4",
      "name": "HTTP - Mensaje Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        128
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "Ur6ZELwtVtxItVPE",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// TODO"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        960
      ],
      "id": "e4572c8f-3cf8-4bd8-9c79-f2438ced1a35",
      "name": "Validar y armar pedido final"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "marcksdbgg",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "m8-apps",
          "mode": "name"
        },
        "filePath": "Restaurant/resources/carta.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        816,
        720
      ],
      "id": "362e5c5a-ddc7-4ea0-9906-362062109633",
      "name": "GH - Obtener Carta",
      "webhookId": "9d4e9dca-000e-4173-84ec-3969698bcae7",
      "credentials": {
        "githubApi": {
          "id": "zv1NwM18dIrEb3IE",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch - Tipo de mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Tipo de mensaje": {
      "main": [
        [
          {
            "node": "Set - Datos Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB - Obtener Pedido Activo Ubicación",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Set - Datos Botón WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Datos Imagen Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Datos Cliente": {
      "main": [
        [
          {
            "node": "DB - Insertar o Actualizar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Set - Datos Botón WhatsApp": {
      "main": [
        [
          {
            "node": "Switch - Ruta Botón",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Ruta Botón": {
      "main": [
        [
          {
            "node": "Set - Mensaje Menú",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Preguntar Tipo Entrega",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Tipo Recojo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Tipo Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Mensaje Menú": {
      "main": [
        [
          {
            "node": "HTTP - Enviar Menú",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Tipo Recojo": {
      "main": [
        [
          {
            "node": "DB - Crear Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Tipo Delivery": {
      "main": [
        [
          {
            "node": "DB - Crear Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Datos Imagen Pago": {
      "main": [
        [
          {
            "node": "DB - Guardar Comprobante y Finalizar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Resumen Staff": {
      "main": [
        [
          {
            "node": "HTTP - Enviar Resumen Staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Obtener Pedido Activo Ubicación": {
      "main": [
        [
          {
            "node": "DB - Actualizar Ubicación Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Crear Pedido": {
      "main": [
        [
          {
            "node": "Set - Mensaje Pedir Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Obtener Pedido Activo": {
      "main": [
        [
          {
            "node": "Preparar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Enviar Menú": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch - accion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Carta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch - accion": {
      "main": [
        [
          {
            "node": "Set - Mensaje Recurrente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Solicitar Informacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Mensaje Pedir Ubicación",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "GH - Obtener Carta",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "DB - Actualizar Pedido Detalle": {
      "main": [
        [
          {
            "node": "Switch - Tipo Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Tipo Pedido": {
      "main": [
        [
          {
            "node": "DB - Actualizar Estado a PENDIENTE_DATOS_DELIVERY",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB - Actualizar Estado a COMPLETO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Mensaje Recojo": {
      "main": [
        [
          {
            "node": "HTTP - Enviar Resumen Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Actualizar Ubicación Pedido": {
      "main": [
        [
          {
            "node": "DB - Actualizar Estado a PENDIENTE_PAGO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuración - Global": {
      "main": [
        []
      ]
    },
    "Set - Mensaje Bienvenida": {
      "main": [
        [
          {
            "node": "HTTP - Enviar Mensaje Interactivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Mensaje Recurrente": {
      "main": [
        [
          {
            "node": "HTTP - Enviar Mensaje Interactivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Mensaje Pedir Datos Delivery": {
      "main": [
        [
          {
            "node": "HTTP - Mensaje Solicitar Informacion Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Mensaje Pedir Ubicación": {
      "main": [
        [
          {
            "node": "DB - Actualizar Estado a PENDIENTE_UBICACION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Mensaje Instrucciones de Pago": {
      "main": [
        [
          {
            "node": "HTTP - Enviar Pago msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Insertar o Actualizar Cliente": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Actualizar Estado a PENDIENTE_DATOS_DELIVERY": {
      "main": [
        [
          {
            "node": "Set - Mensaje Pedir Datos Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Actualizar Estado a COMPLETO": {
      "main": [
        [
          {
            "node": "Set - Mensaje Recojo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Actualizar Estado a PENDIENTE_UBICACION": {
      "main": [
        [
          {
            "node": "HTTP - Enviar Ubi msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Actualizar Estado a PENDIENTE_PAGO": {
      "main": [
        [
          {
            "node": "Set - Mensaje Instrucciones de Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Guardar Comprobante y Finalizar Pedido": {
      "main": [
        [
          {
            "node": "Code - Resumen Staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Set - Mensaje Bienvenida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB - Obtener Pedido Activo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Mensaje Pedir Pedido": {
      "main": [
        [
          {
            "node": "HTTP - Preguntar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Solicitar Informacion": {
      "main": [
        [
          {
            "node": "If - Hay Errores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Hay Errores": {
      "main": [
        [
          {
            "node": "HTTP - Mensaje Error",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Validar y armar pedido final": {
      "main": [
        [
          {
            "node": "DB - Actualizar Pedido Detalle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH - Obtener Carta": {
      "main": [
        [
          {
            "node": "Validar y armar pedido final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b41f5c80-d92b-4efe-b75b-2e68534deca5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c77fd69a044fc8332661839d745fcc4cdf4ca99c0317eb006f96ebbbb87b133"
  },
  "id": "WpgChVptMydZHMUu",
  "tags": []
}